*{
 margin:0;
 padding: 0;   
}
a{
    text-decoration: none;
    color: white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.link-item-wrapper {
background-color: violet;
display: flex;
gap: 100px;
}

.start-button-wrapper{
background-color: rgb(23, 117, 117);
color: black;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
font-weight: bold;
border-radius: 20px; 
}